.main-container{
  width: 100%;
    height:calc(100vh - 61.8px);
    padding: 50% 2rem 0;
    position: relative;
    overflow: hidden;
}


.main-container section h3{
    inline-size: 80%;
    overflow-wrap: break-word;
    font-size: 2.5rem;
    font-weight: bold;
}

.main-container picture img{
  display: none;
}


.background-balls div{
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    animation-duration: var(--time);
	  animation-iteration-count: infinite;
 }
  
  .ball1{
    width: 100px;
    height: 100px;
    background-color: var(--circle1);
    animation-name: backgroundMovement1;
  }
  
  .ball2{
    width: 100px;
    height: 100px;
    background-color: var(--circle2_3);

    animation-name: backgroundMovement2;
  }

  .ball3{
    width: 150px;
    height: 150px;
    background-color: var(--circle2_3);

    animation-name: backgroundMovement3;
  }

  @keyframes backgroundMovement1 {
    0% {
      bottom: var(--bottom1);
      left: var(--left1);
    }
    
    20% {
      bottom: calc(var(--bottom1) + 5px);
      left: calc(var(--left1) - 15px);
    }
    
    40% {
      bottom: calc(var(--bottom1) - 20px);
      left: calc(var(--left1) + 10px);
    }
    
    60% {
      bottom: calc(var(--bottom1) - 2px);
      left: calc(var(--left1) - 1px);
    }
   
    80% {
      bottom: calc(var(--bottom1) - 20px);
      left: calc(var(--left1) + 10px);
    }
   
    100% {
      bottom: calc(var(--bottom1));
      left: calc(var(--left1));
    }
  }

  @keyframes backgroundMovement2 {
    20% {
      top: var(--top2);
      left: var(--left2);
    }
    30% {
      top: calc(var(--top2) + 20px);
      left: calc(var(--left2) - 10px);
    }
    40% {
      top: calc(var(--top2) + 5px);
      left: calc(var(--left2) - 15px);
    }
    50% {
      top: calc(var(--top2) - 12px);
      left: calc(var(--left2) + 5px);
    }
    60% {
      top: calc(var(--top2) - 20px);
      left: calc(var(--left2) + 10px);
    }
    70% {
      top: calc(var(--top2) + 20px);
      left: calc(var(--left2) - 5px);
    }
    80% {
      top: calc(var(--top2) - 2px);
      left: calc(var(--left2) - 1px);
    }
    90% {
      top: calc(var(--top2) - 12px);
      left: calc(var(--left2) + 5px);
    }
    100% {
      top: calc(var(--top2) - 20px);
      left: calc(var(--left2) + 10px);
    }
    0% {
      top: calc(var(--top2) - 12px);
      left: calc(var(--left2) + 5px);
    }
    10% {
      top: calc(var(--top2));
      left: calc(var(--left2));
    }
  }

  @keyframes backgroundMovement3 {
    20% {
      bottom: var(--bottom3);
      right: var(--right3);
    }
    30% {
      bottom: calc(var(--bottom3) + 20px);
      right: calc(var(--right3) - 10px);
    }
    40% {
      bottom: calc(var(--bottom3) + 5px);
      right: calc(var(--right3) - 15px);
    }
    50% {
      bottom: calc(var(--bottom3) - 12px);
      right: calc(var(--right3) + 5px);
    }
    60% {
      bottom: calc(var(--bottom3) - 20px);
      right: calc(var(--right3) + 10px);
    }
    70% {
      bottom: calc(var(--bottom3) + 20px);
      right: calc(var(--right3) - 5px);
    }
    80% {
      bottom: calc(var(--bottom3) - 2px);
      right: calc(var(--right3) - 1px);
    }
    90% {
      bottom: calc(var(--bottom3) - 12px);
      right: calc(var(--right3) + 5px);
    }
    100% {
      bottom: calc(var(--bottom3) - 20px);
      right: calc(var(--right3) + 10px);
    }
    0% {
      bottom: calc(var(--bottom3) - 12px);
      right: calc(var(--right3) + 5px);
    }
    10% {
      bottom: calc(var(--bottom3));
      right: calc(var(--right3));
    }
  }


 
 
  @media  screen and (min-width: 768px) { 
    :root{
      --bottom1: 5%;
      --left1: 3%; 
      --top2:5%;
      --left2:20%;
      --bottom3:-10%;
      --right3:-10%;
    }

    .main-container{
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        
    }

    .main-container picture{
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      z-index: 3;
      
    }

    .main-container picture img{
      display: flex;
      width:271px;
      height: 382px;
    }

    .main-container section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 36px;
      z-index: 2;
    }    

    .main-container section h3{
      font-size: 2rem;
      font-weight: 400;
    }

    .main-container section p{
      inline-size: 300px;
      overflow-wrap: break-word;
      font-size: 0.9rem ;
    }

    .join-btn{
      align-self: flex-start;
    }

    .join-btn:hover{
      background-color: var(--buttonHover);
    }
    .join-btn:focus{
      background-color: var(--buttonFocus);
    }

  .background-balls div{
    z-index: 0;
  }
    
  .ball1{
      width: 260px;
      height: 260px;
      background-color: var(--circle1);
      animation-name: backgroundMovement1;
    }
    
    .ball2{
      width: 260px;
      height: 260px;
      background-color: var(--circle2_3);
  
      animation-name: backgroundMovement2;
    }
  
    .ball3{
      width: 400px;
      height: 400px;
      background-color: var(--circle2_3);
  
      animation-name: backgroundMovement3;
    }
  }